/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #6C5DD3;
  --primaryLight: #c7c2e9;
  --background: #F7F9FD;
  --white: #fff;
  --success: rgb(137, 217, 127);
  --warning: rgb(231, 218, 103);
}

/* Global Styles for antd Table component */
.ant-table-tbody > tr:hover > td {
  background-color: var(--white) !important;
}

/* Global Style for editable Text component */
h2.ant-typography .anticon-edit {
  color: var(--primary);
  font-size: 20px;
  margin-left: 3px;
}
h3.ant-typography .anticon-edit {
  color: var(--primary);
  font-size: 17px;
  margin-left: 3px;
}
h5.ant-typography .anticon-edit {
  color: var(--primary);
  font-size: 15px;
  margin-left: 3px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

